body{
    background-color: #9266ff;
    text-align: center;
  }
  .App{
    background-color: #F4E8FE;
    min-height:500px;
    width: 680px;
    margin: 40px auto;
    padding:10px;
  }
  
   #buttonsToCenter {
    margin-left: 90px;
  }
  #to-do-form input{
    /* float: left; */
    background-color: rgb(35, 136, 167);
    border: 0; 
    color: #fff;
    width: 200px;
    /*height: 50px;*/
    /*margin: 20px;*/
    /*padding: 0 20px;*/
    font-size: 18px;
    border-radius: 10px;
  }
  #to-do-form input::placeholder{
    color: rgba(255,255,255,0.5);
  }
  #to-do-form input:focus{
    outline: none;
  }
  #to-do-form button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color:rgba(202, 156, 24, 1); 
    cursor: pointer;

  }
  #to-do-form button:focus{
    margin: 5px;
    outline: none;
  }
  
  #firstButton {
    margin: 5px;
  }